{% extends 'base.html.twig' %}

{% block body %}
<h1>DataCenter Tycoon</h1>
<h2>Login : <a href="{{ path('login') }}">here</a></h2>
<h2>Registeration : <a href="{{ path('register') }}">here</a></h2>
{% endblock %}
