body {
    font-family: "ClearSans";
}

.gauge {
    width : 200px;
    display: inline-block;
    /*display: -moz-inline-block;*/
}

@font-face {
    font-family: "ClearSans";
    src: url('../font/ClearSans-Regular.ttf');
}
@font-face {
    font-family: "ClearSans";
    font-style: italic;
    src: url('../font/ClearSans-Italic.ttf');
}
@font-face {
    font-family: "ClearSans";
    font-weight: bold;
    src: url('../font/ClearSans-Bold.ttf');
}
