{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error: </strong> {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" /><br>

    <button type="submit">Login</button>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
</script>
{% endblock %}
